@{
    ViewBag.Title = "Bienvenido";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Presta+ es un nuevo servicio de prestamos en linea, el cual te ayudara a conseguir ese objetivo que tanto quieres en menos de lo que puedes decir Prestame!
            </p>
        </div>
    </section>
}
<h3>Servicios</h3>
<ol class="round">
    <li class="one">
        <h5>Solicitud de Préstamos</h5>
     <p>Lláma y solicita tus préstamos! </P>
    </li>

    <li class="two">
        <h5>Consulta y organización de tus préstamos</h5>
       Consultanos para tus préstamos.
    </li>

    <li class="three">
        <h5>Calculadora de Préstamos</h5>
            Usa nuestra calculadora para saber sobre tus cuotas!.
    </li>
</ol>
