@{
    ViewBag.Title = "Bienvenido";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Presta+ es un nuevo servicio de prestamos en linea, el cual te ayudara a conseguir ese objetivo que tanto quieres en menos de lo que puedes decir Prestame!
            </p>
        </div>
    </section>
}
<h3>Servicios</h3>
<ol class="round">
    <li class="one">
        <h5>Solicitud de Prestamos</h5>
     <p>BLABLALBALBLABLA CONVENCIENDO AL CLIENTE BLABLABLABLALB
         ESTE ES EL MEJOR SITIO BLABLABLABLA </P>
    </li>

    <li class="two">
        <h5>Consulta y organizacion de tus prestamos</h5>
       Blablablalbalba muy bonito balblab.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Calculadora de Prestamos</h5>
            Blablblabllbalblabalb La real calculadora blablablabl.
     
    </li>
</ol>
