@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculadora de Préstamos</h2>

<fieldset>
    <div    >
        Monto del préstamo <input id="Monto" type="number" />
    </div>
    <div>
        Tasa de interés <input id="Tasa" type="number" />
    </div>

    <div>
        Duración del préstamo (en meses) <input id="duracion" type="number" />
    </div>

</fieldset>

<div>
     <label>Pago Mensual</label>
     <label id="pagoMensual"></label>
</div>

<div>
    <label>Capital + Interés Anual</label>
    <label id="capitalInteresAnual"></label>
</div>

<div>
    <label>Costos de Financiamiento</label>
    <label id="costoFinanciamiento"></label>
</div>

<div>
    <label>Costo Total</label>
    <label id="costoTotal"></label>
</div>

<div>
    <button type="button" id="btnCalcular">Calcular</button>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCalcular").click(function () {
                var monto = $("#Monto").val();
                var tasa = $("#Tasa").val();
                var plazo = $("#duracion").val();

                $.post("/Calculadora/CalcularPrestamo", { Monto: monto, Tasa: tasa, Plazo: plazo },
                    function (data) {
                        $("#pagoMensual").text(data.cuota_fija);
                        $("#capitalInteresAnual").text(data.interes);
                        $("#costoFinanciamiento").text(data.costo_financiamiento);
                        $("#costoTotal").text(data.costo_total);
                    }
                ).fail(function (jqXMLHttpRequest, textStatus, errorThrown) {
                    console.log(errorThrown);
                });
            });
        });
    </script>
}